@model Autopark.WEB.Entities.Car

@{
	ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Car</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit" enctype="multipart/form-data">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id" />
			<div class="form-group">
				<label asp-for="CarTypeId" class="control-label"></label>
				<select asp-for="CarTypeId" class="form-control" asp-items="ViewBag.CarTypeId"></select>
				<span asp-validation-for="CarTypeId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="CarShowroomId" class="control-label"></label>
				<select asp-for="CarShowroomId" class="form-control" asp-items="ViewBag.CarShowroomId"></select>
				<span asp-validation-for="CarShowroomId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="GenerationId" class="control-label"></label>
				<select asp-for="GenerationId" class="form-control" asp-items="ViewBag.GenerationId"></select>
				<span asp-validation-for="GenerationId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Price" class="control-label"></label>
				<input asp-for="Price" class="form-control" />
				<span asp-validation-for="Price" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Vin" class="control-label"></label>
				<input asp-for="Vin" class="form-control" />
				<span asp-validation-for="Vin" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="YearOfRelease" class="control-label"></label>
				<input type="date" asp-for="YearOfRelease" class="form-control" />
				<span asp-validation-for="YearOfRelease" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label for="image" class="control-label">Image</label>
				<input type="file" id="car-image" name="image" />
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
